@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float.delay-300 {
    animation-delay: 2s;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 60s linear infinite;
}

.animate-scroll-horizontal:hover {
  animation-play-state: paused;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom font */
body {
  font-family: "Inter", sans-serif;
}
